@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800&display=swap');

:root{
    --f:'Jost', sans-serif;
    --color-primary:#4d11e5;
    --color-primary:#380bac;
    --color-text:#333;
    --color-white:#ffffff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
    font-family: var(--f);
}

body{
    line-height:1.4;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;

}

.header{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index:100;
    background: var(--color-white);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.07);
    display: flex;
    align-items: center;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h3{
    font-size: 2.3rem;
    color: var(--color-primary);
}

.logo h3 span{
    color: red;
}

.header-menu{
    display: flex;
}
.header_menu_item{
    margin-right: 30px;
    font-size: 18px;
    font-weight: 600px;
    color: var(--color-primary);
    transition: color 0.3s ease-in-out;
}
.header-menu__item:last-child{
    margin-right:0;
}
.header_menu_item:hover{
    color: var(--color-text);
}

#menu-icon{
    color: var(--color-primary);
    font-size: 20px;
    cursor:pointer;
    display: none;
}

.hero{
    position: relative;
    top: 80px;
    padding: 100px 0;
}